     * 
        {
            box-sizing: border-box;
        }

        /* Any inputs will change to blue and italic when clicked */

input:focus
        {
            background-color:#44cdf0;
            font-style:italic;         
        }

/* ========== Link Styles ========== */


a 
        {
            text-decoration-line: none;
            color: #44cdf0; /* Highlight links */   
        }

a:visited 
        {
            color: #ffdd44;
            text-decoration-color: #44cdf0; 
        }

a:hover 
        {
            color: #ffdd44; /* Change color on hover */
            text-decoration-line: underline;    
        }

#achievements li:hover, #experience ul li:hover
        
        { /* Set list items in the experience and achievements sections to change on hover */

            background-color:#145479;
        }
/* Change formatting only for the links in the links section id */
#links a
        {
            letter-spacing: 0.1em;
        }


        
        /* Adjusting Parameters for all screens greater than 800px */

@media (min-width:800px)
{


    body 
        {
            font-family: Arial, sans-serif; /* Primary font with fallback */
            font-size: 18px;
            background: linear-gradient(to top right, #145479, #708c94); /* Blue gradient background */
            color: white;
            margin: 10px auto;
            max-width: 1000px;
        }


        /* Create a round white border for each section */
    section
        {
            border: 2px solid white;
            margin: 4px;
            padding: 8px;
            border-radius: 8px;            
        }


    #name 
        {
            display: flex
        }

    #name p 
        {
            display: flex;
            align-items: flex-end;       
        }

    #name h1
        {
            
            align-items: center;
            justify-content: center;
            font-size: 24px;
            margin: auto;
            text-align: center;
        }

    #name img
        {
            align-items: flex-start;
            width: 150px;
            height: 150px;
            margin: 10px;
            padding: 1px;
            /* Make profile picture round, add circle border */
            border-radius: 50%;
            border: 2px solid lightseagreen;
        }

    #aboutme
        {
            padding-left: 150px;
            padding-right: 150px;
            padding-bottom: 30px;
        }

    #projects, #experience
        {
            padding-right: 15px;
            
        }

    #projects li
        {
            padding: 15px;
        }

    #links
        {
            text-align: center;
            padding-bottom: 15px;
        }
        
         /* ========== Heading Styles ========== */
    h1, h2, h3 
    
        {
    
            text-transform: uppercase;
            font-weight: bold;
            padding-bottom: 5px;
            text-shadow: 5px 5px 5px rgba(0, 0, 0, .5); /* Adding Shadow */
        }

    h2 
    
        {
            text-align: center;
            font-size: 20px;
            color: #e0e0e0; /* Slightly lighter heading */
        
        }
    
    h3 
    
        {
            font-size: 20px;
            color: #e0e0e0;
        }



                /* ========== Table Styles ========== */

    #educationtable 
        {
            /* border: thick double #ffffff; */
            margin: 0 auto;
            padding: 10px;
    
      
        }

        /* Modify parameters in table heading */
    #educationtable  th 
        
        { 

            border: solid 2px white;
            padding: 15px;
            text-shadow: 5px 5px 5px rgba(0, 0, 0, .5); /* Adding Shadow */
            color: white;
            font-weight: bold;
        
        }

    #educationtable  td 
        
        {

            border: solid 2px white;
            padding: 8px;
            text-align: center;
        }

    #educationtable tbody tr:hover 
        
        { /* Set table rows to highlight on hover */

            background-color:#145479;
        }
    
        /*  Formatting for tables under Experience section */


    #achievements
        {
            display: flex;
            flex-direction: column;
            
            
        }

    #achievements ul
        {
            display:flex;
            flex-direction: column;
            align-items: left;
            padding-left: 200px;
            
        }

    #experience ol 
        { 
            display: flex;
            flex-direction: row;
    
        }

    #experience ul li 
        {
            letter-spacing: .1em;
        }

    


       /* ========== Input form styling ========== */

    .contact-form 
        {
            max-width: 500px;
            margin: 20px auto;
            padding: 30px;
            background-color: #145479;
            border-radius: 12px;
            box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
            border: 2px solid black;
        }
  
        /* Input styling */

    .contact-form div input,
    .contact-form textarea 
        {
            width: 100%;
            padding: 15px;
            margin-top: 10px;
            margin-bottom: 20px;
            border-radius: 8px;
            box-sizing: border-box;
            font-size: 16px;
        
        }
  

        /* ========== Submit button ========== */
    .contact-form #submitbutton 
        {
            padding: 14px 28px;
            background-color: #007bff;
            color: #fff;
            border: 1px solid black;
            border-radius: 8px;
            cursor: pointer;
            font-size: 16px;
            margin: 0 auto;
            display: block;
        }
    .contact-form #submitbutton:hover 
        {
            background-color: #1aa4e4;
        }

}
         

        /* ========== Adjusting Parameters for browser with a maximum size of 799px width ========== */
@media (max-width:799px) 
{


    body 
        {
            font-family: Arial, sans-serif; /* Primary font with fallback */
            font-size: 12px;
            background: linear-gradient(to top right, #145479, #708c94); /* Blue gradient background */
            color: #ffffff
        }


        /* Create a round white border for each section */
    section
        {
            border: 2px solid white;
            margin: 2px;
            padding: 4px;
            border-radius: 8px;
            
        }


    #name 
        {
            display: flex
        }

    #name p 
        {
            display: flex;
            align-items: flex-end;
            
        }

    #name h1
        {
            align-items: center;
            justify-content: center;
            display: flex;
            font-size: 18px;
            margin: auto;
            text-align: center;
        }

    #name img
        {
            align-items: flex-start;
            display: flex;
            width: 100px;
            height: 100px;
            margin: 10px;
            padding: 1px;
            /* Make profile picture round, add circle border */
            border-radius: 50%;
            border: 2px solid lightseagreen;
        }

        #aboutme
        {
            padding: 15px;
        }

        #projects, #experience
        {
            padding-right: 15px;
            
        }

        #links
        {
            text-align: center;
            padding-bottom: 15px;
        }
        
         /* ========== Heading Styles ========== */
    h1, h2, h3 
    
        {
    
            text-transform: uppercase;
            font-weight: bold;
            padding-bottom: 5px;
            text-shadow: 5px 5px 5px rgba(0, 0, 0, .5); /* Adding Shadow */
        }

    h2 
    
        {
            text-align: center;
            font-size: 14px;
            color: #e0e0e0; /* Slightly lighter heading */
        
        }
    
    h3 
    
        {
            font-size: 14px;
            color: #e0e0e0;
        }



                /* ========== Table Styles ========== */

    #educationtable 
        {
            /* border: thick double #ffffff; */
            margin: 0 auto;
            padding: 10px;
    
      
        }

        /* Modify parameters in table heading */
    #educationtable  th 
        
        { 

            border: solid 1px white;
            padding: 2px;
            text-shadow: 5px 5px 5px rgba(0, 0, 0, .5); /* Adding Shadow */
            color: white;
            font-weight: bold;
        
        }

    #educationtable  td 
        
        {

            border: solid 2px white;
            padding: 5px;
            text-align: center;
        }

    #educationtable tbody tr:hover 
        
        { /* Set table rows to highlight on hover */

            background-color:#145479;
        }
    
        /*  Formatting for tables under Experience section */


        #experience ol 
        { 
            display: flex;
            flex-direction: column;
    
        }

        #experience ul li 
        {
            letter-spacing: .1em;
        }

        ul li:hover 
        
        { /* Set list items to change on hover */

            background-color:#145479;
    
    
        }
    
        /* Contact Form Styling */
    .contact-form 
        {
            max-width: 400px;
            margin: 0 auto;
            padding: 10px;
            background-color: #145479;
            border-radius: 12px;
            box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
            border: 2px solid black;
        }
          
          /* Input styling */
    .contact-form div input,
    .contact-form textarea 
        {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 8px;
            box-sizing: border-box;
            font-size: 12px;
            
        }
          
        
          /* ========== Submit button ========== */
    .contact-form #submitbutton 
        {
            padding: 14px 20px;
            background-color: #007bff;
            color: #fff;
            border: 2px solid black;
            border-radius: 8px;
            cursor: pointer;
            font-size: 16px;
            margin: 0 auto;
            display: block;
        }
        
          
    .contact-form #submitbutton:hover 
        {
            background-color: #1aa4e4;
        }

}

/* End of Media Sizing Sections */

